/** CUSTOM **/
/** ------------------------------ **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
/* TAGS */
.filter-TC-editor-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.filter-TC-editor-container-tags{
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  transition: all .3s ease-in-out;
}
.filter-TC-editor-btn{
  background-color: white;
  border-radius: 3px;
  border: 1px solid gray;
  transition: all .3s ease-in-out;
  padding: 0.4rem;
  color: rgb(77, 77, 77);
  cursor: pointer;
}
.filter-TC-editor-btn:hover{
  background-color: rgb(211, 210, 210);
}
.filter-TC-editor-btn-remove{
  background-color: #F5421B;
  color: white;
  border: none;
}
.filter-TC-editor-btn-remove:hover{
  background-color: #e63e18;
}
.filter-TC-editor-container-tags .filter-TC-editor-dropdown-container{
  display: flex;
  align-items: center;
}
.filter-TC-editor-tag-icon{
  margin-right: 0.3rem;
}
.filter-TC-editor-action-active{
  width: 10px;
  transition: all .2s ease-in;
  cursor: pointer;
  margin-left: 0.5rem;
}
.filter-TC-editor-container-tags .filter-TC-editor-dropdown-menu{
  width: max-content;
  position: absolute;
}
.filter-TC-editor-container-field{
  display: inline-flex;
  padding: 5px;
  padding: 0.5rem;
}
.filter-TC-editor-field{
  margin-right: 1rem;
}
.filter-TC-editor-circle{
  width: 6px;
  height: 6px;
  border-radius: 5rem;
  border: 2px solid rgb(46, 174, 46);
}
.circle-active {
  background-color: rgb(46, 174, 46);
}
.filter-TC-show{
  display: block;
}
.filter-TC-hide{
  display: none!important;
}
/* OPTIONS */
.filter-TC-editor-container-options{
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  color: rgb(113, 113, 113);
}
.filter-TC-editor-dropdown-menu{
  position: absolute;
  margin-top: 0.4rem;
  background-color: white;
  border: 1px solid rgba(113, 113, 113, 0.232);
  border-radius: 4px;
  z-index: 999999;
}
.filter-TC-editor-option-icon{
  opacity: 0.6;
}
.filter-TC-editor-options-dropdown-menu{
  background-color: white;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  border: 1px solid rgba(113, 113, 113, 0.232);
  position: absolute;
  width: 10rem;
 
  z-index: 999999;
}
.filter-TC-editor-options-dropdown-menu li{
  list-style: none;
  cursor: pointer;
  padding: 0.5rem;
}
.filter-TC-editor-options-dropdown-menu li:hover{
  color: rgba(53, 53, 53, 0.766);
  background-color: rgba(128, 128, 128, 0.113);
}

.filter-TC-editor-input{
  height: 2rem;
  border-radius: 4px;
  padding: 0px 0px 0.1rem 0.4rem;
  border: 1px solid rgba(113, 113, 113, 0.232);
}
/*------------------------------- */