/** BOOTSTRAP **/
/** ------------------------------ **/
.filter-TB-editor-container{
  display: flex;
  align-items: center;
  width: 100%;
}
/* TAGS */
.filter-TB-editor-container-tags{
  margin-right: 0.5rem;
}
.filter-TB-editor-container-tags .filter-TB-editor-dropdown-container{
  display: flex;
  align-items: center;
}
.filter-TB-editor-dropdown-container:focus{
  box-shadow: none;
}
.filter-TB-editor-tag-icon{
  margin-right: 0.3rem;
}
.filter-TB-editor-action-active{
  width: 10px;
  cursor: pointer;
  margin-left: 0.5rem;
}
.filter-TB-editor-container-tags .filter-TB-editor-dropdown-menu{
  width: max-content;
}
.filter-TB-editor-container-field{
  display: inline-flex;
  padding: 5px;
}
.filter-TB-editor-field{
  margin-right: 1rem;
}
.filter-TB-editor-circle{
  width: 10px;
  height: 10px;
  border-radius: 5rem;
  border: 2px solid rgb(46, 174, 46);
}
.circle-active {
  background-color: rgb(46, 174, 46);
}
/* OPTIONS */
.filter-TB-editor-dropdown-menu li{
  cursor: pointer;
}
.filter-TB-editor-option-icon{
  opacity: 0.6;
}
/*------------------------------- */